.carousel-container {
  position: relative;
}

.carousel-item {
  text-align: center;
}
.custom-tag {
  background: none !important;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
  background-color: #D9D9D9;
  border-radius: 50%;
}


.moreKnow {
  height: 40px;
  width: 150px;
  border: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  background-color: #0EB0F1;
  color: #ffffff;
  margin: 10px auto;
  display: block;
  border-radius: 26px;
  margin-top: 10%;
  margin-bottom: 10%;
}