.content-experience {
  background-color: #F2F2F2;
  padding: 20px 0;
}

.img-cuadros {
  padding-left: 10%;
}

.our-experience {
  padding-left: 2%;
  font-family: "Poppins";
  font-weight: 600;
  color: #085878;
  font-size: 25px;
}

.row-2 {
  margin-top: 3vw;
}

.centrar-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1198px) {
  .img-cuadros {
    padding-left: 0;
  }
}