.testimonial-content {
    padding: 20px; /* Espaciado interno */

    .testimonial-card {
        background-color: #f2f2f2; /* Fondo gris */
        padding: 15px; /* Espaciado interno para la cinta detrás del texto */
    }
}

.testimonial-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 16px;
    color: #555; /* Color del texto, ajusta según tu diseño */
}