.footer-services-title {
    padding-left: 20px;
    font-family: "Poppins";
    font-weight: 600;
    color: #085878;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}

.space {
    padding-top: 10px;
}

.footer-services {
    padding-left: 20px;
    font-family: "Poppins";
    color: #085878;
    font-size: 18px;
    text-decoration: none;
    padding-top: 10px;
    cursor: pointer;
}


.footer-contact {
    font-family: "Poppins";
    color: #085878;
    font-size: 18px;
    text-decoration: none;
    padding-top: 20px;
}



.footer-contact-row {
    padding-top: 12px;
}


.row-social{
    padding-top: 30px;
    padding-bottom: 50px;
}

.img-redes {
    padding-left: 50px;
    padding-right: 50px;
}

